@charset "utf-8";
body,div {
	margin:auto;}
#du1{
	border: 1px solid #DEDEDE;
	width: 1141px;
	height:1400px;
	color:#666;
	padding-left: 20px;
	padding-top: 50px;
	padding-bottom: 20px;
	margin-top:20px;
	margin-bottom:100px;
}
.du1{
	font-size: 12px;
	font-weight: bold;
	color: #000;
}
#du2 {
	font-size:16px;}
#du3 {
	margin-left: auto;
	width:1141px;}